
.about-parg{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
.head{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}
.box{
    margin:30px 0;
    padding: 30px;
}
.text-area{
    padding: 40px;
}
.col-md-6{
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border: none;
}
.head{
    text-align: center;
        font-family: "Bigshot One", serif;
        font-weight: 400;
        font-style: normal;

      
}
.parg{
    text-align: center;
    margin:0 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.colntainer-flued{
    margin: 20px 0;
}
.container-about{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.cook{
    height:600px;

}
.container-about{
border: none;
margin-top: 30px;
}
.text-primary {
    color: #007bff;
}

.bg-dark {
    background-color: #000 ;
}

.text-light {
    color: #fff ;
}