.navbar-nav .nav-link {
    color: white !important;
    padding: 0.5rem 1rem;
}
.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.navbar-brand img {
    max-width: 70px;
    height: auto;
}
.head{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}

.col-md-6{
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border: none;
}
.head{
    text-align: center;
}
.parg{
    text-align: center;
    margin:0 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.colntainer-flued{
    margin: 20px 0;
}
.container-about{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.cook{
    height:600px;

}
.container-about{
border: none;
margin: 30px 0;
}