.nav-link {

    color:rgb(255, 255, 255);
}
.potato-in-hand{
    height: 600px;
    width: 100%;
}

.container-images *{
    width: auto;
}

.col-md-6 img{
    width: 100%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.col-md-6 *{
    color:black;
    width: 100%;
}
.col-md-6 p{
    margin: 20px 30px;
}
.parg{
    margin-top: 80px;
    font-size: 23px;
}
.head{
    font-size: 70px;
     margin-top: 20px ;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-function{
background-color: black;
padding: 50px;
width:100%;
height: 400px;
}
