<div class="nav-containers">
    <nav class="menu" id="nav">
        <a href="#" class="navbar-brand">
            <img src="images/main/Bingle-logo.png" alt="Logo">
        </a>
        <div class="container">
        <span class="nav-item">
            <a href="">
            	
    Home</a>
        </span>
        <span class="nav-item active">
            <a href="{%url 'all-classes' %}">
            
   Attenndance</a>
            
            
        </span>
        <span class="nav-item">
            <a href="{%url 'all-classes-assignements' %}">
            
   Assignemts</a>
            
        </span>
        <span class="nav-item">
            <a href="{% url 'list-feedbacks' %}">
            
    FeedBack</a>
        </span>
        <span class="nav-item">
            <a href="{% url 'exam-home'%}">
         
    </a>
        <span class="nav-item">
            <a href="{% url 'book-data' %}">
            
   Books
        </span>
    </a>
</div>        
    
    </nav>
    </div>
    